body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #e3e3e3;
    color: #3a3a3a;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
  }
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: #3a3a3a;
  }
  h1 {
    color: #ffc800;
  }
  section {
    margin-bottom: 20px;
  }
  footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 0.9em;
  }
  a {
    color: #0066cc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .center {
    text-align: center;
  }
  .img1{
    width: 500px;
    height: 350px;
  }
  .img2{
    height: 350px;
     width: 600px;
  }
  .imgb3{
    width: 690px;
  }

  @media screen and (max-width:1020px){
    .img1{
      width: 300px;
      height: 200px;
    }
    .img2{
      height: 200px;
      width: 300px;
    }
    .img3{
      height: 200px;
      width: 320px;
    }
    .imgb3{
      width: 108px;
    }
  }